<a href="https://colab.research.google.com/github/smartinternz02/SI-GuidedProject-582268-1694697182/blob/main/Assingment_1_Sai_santhosh(21BCT0293).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Name: Sai Santhosh

Reg No: 21BCT0293

VIT Vellore

Slot: 6:00 - 8:00 pm

Task - 1 Create a pandas dataframe (DataFrame name as 'df') (10 observation and 5 features)

In [ ]:
import numpy as np
df = {'Name':['preetham','Raj','srivasta','Santhosh','moulika','prasana','kavya','maneesha','manikanta','nikhila'],'Age':[21,20,19,np.nan,20,21,20,19,20,19],'Gender':['M','M','M','M','F','M','F','F','M','F'],'Degree':['B.Tech','B.Tech','MBA','B.Tech','BCA','M.Tech','M.Tech','MBA','B.Tech','MBA'],'Score':[90,98,76,76,66,75,85,52,82,42]}
df

import pandas as pd
df1 = pd.DataFrame(df)
df1

        Name   Age Gender  Degree  Score
0   preetham  21.0      M  B.Tech     90
1        Raj  20.0      M  B.Tech     98
2   srivasta  19.0      M     MBA     76
3   Santhosh   NaN      M  B.Tech     76
4    moulika  20.0      F     BCA     66
5    prasana  21.0      M  M.Tech     75
6      kavya  20.0      F  M.Tech     85
7   maneesha  19.0      F     MBA     52
8  manikanta  20.0      M  B.Tech     82
9    nikhila  19.0      F     MBA     42

Task- 2 Check the info of 'df'

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    10 non-null     object
 1   Age     9 non-null      float64
 2   Gender  10 non-null     object
 3   Degree  10 non-null     object
 4   Score   10 non-null     int64
dtypes: float64(1), int64(1), object(3)
memory usage: 528.0+ bytes

Task 3- Check the descriptive statistics of 'df'

In [ ]:
 df1.describe()

             Age      Score
count   9.000000  10.000000
mean   19.888889  74.200000
std     0.781736  16.988885
min    19.000000  42.000000
25%    19.000000  68.250000
50%    20.000000  76.000000
75%    20.000000  84.250000
max    21.000000  98.000000

Task 4- check the 4th index observation with 'loc' slicing operator.

In [ ]:
df1.loc[3]

Name      Santhosh
Age            NaN
Gender           M
Degree      B.Tech
Score           76
Name: 3, dtype: object

Task 5 - Check the null values in your 'df'

In [ ]:
df1.isnull().any()

Name      False
Age        True
Gender    False
Degree    False
Score     False
dtype: bool

Task 5 - Check the null values in your 'df'

In [ ]:
df1.isnull().sum()

Name      0
Age       1
Gender    0
Degree    0
Score     0
dtype: int64